<template lang="pug">
  #app
    router-view
</template>

<script>
export default {
  created() {
    this.$http.get('/posts').then(response => {
      console.log(response)
    })
  }
}
</script>>

<style lang="stylus" src="./assets/styles/main.styl">

</style>